<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp_test6_syytest">
    <!--  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 세트 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 13버전 이후 변경된 이미지 저장소 접근허용방식 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- 외부통신 하기위해 인터넷 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="actionBarTest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myapp_test6_SyyTest"
        tools:targetApi="31">
        <activity
            android:name=".ch18_Test.HttpTestReqResActivity"
            android:exported="false" />
        <activity
            android:name=".ch17_Test.preferenceTest.SharedPreferDetailTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch17_Test.preferenceTest.SharedPreferTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch17_Test.SQLlight.DbTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch16_Test.MultiImageRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".ch16_Test.TestImageActivity"
            android:exported="true" />
        <!--
              authorities 반드시 필요한 속성 , 이앱에 접근할때 암호처럼 사용이될 예정
           authorities 이없으면 정보를 제공받을수없음
          외부에서 접근할때 식별값으로 사용됨 (마치 암호처럼 사용)
        -->
        <!-- 저장소 위치 정하고 해당 uri 위치에 접근허가 필요 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp_test6_syytest.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ch13_1.TestCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_1.TestBundleActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_1.TestIntent2DetailActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_1.TestIntentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TabTest.ViewTest2Activity"
            android:exported="true" />
        <activity
            android:name=".TabTest.ViewPagerAdapterTest"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".TabTest.TabTest2Activity"
            android:exported="true" />
        <activity
            android:name=".TabTest.TabTestActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ch12_Test.adapter.RecyclerViewTest" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".ch12_Test.TabTestActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".ch11_12_Test.viewPageandrecyclerview.TestPageRecyclerActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ch11_Test.recycler.MyAdapter2Activity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".ch11_12_Test.viewPager.TestViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_12_Test.recyclerDataTest.TestRecyclerDataActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_12_Test.Test11_RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_12_Test.Test11_FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_12_Test.Test11_ToolBarActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_12_Test.Tes11_ActionBarActivity"
            android:exported="true" />

        <receiver
            android:name=".ch10_Test.ReplyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ch10_Test.Test10_1Activity"
            android:exported="true" />
        <activity
            android:name=".ch10_Test.Test10_2Activity"
            android:exported="true" />
        <activity
            android:name=".ch9.Test9Activity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:label="@string/title_activity_intro"
            android:theme="@style/Theme.Myapp_test6_SyyTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginFormActivity"
            android:exported="true"
            android:label="@string/title_activity_login_form"
            android:theme="@style/Theme.Myapp_test6_SyyTest" />
        <activity
            android:name=".JoinActivity"
            android:exported="true"
            android:label="@string/title_activity_join"
            android:theme="@style/Theme.Myapp_test6_SyyTest" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>